{% extends 'layout.html' %}

{% block body %}

<section class="page-section" id="contact">
    <div class="container">

        <div class="text-center">
            <h2 class="section-heading text-uppercase">Create Room</h2>
        </div>
        
        <form id="contactForm" data-sb-form-api-token="API_TOKEN" method="POST">
            <div class="row align-items-stretch mb-5">
                <div class="col-md-6">
                    <div class="form-group">
                        <!-- Name input-->
                        <input class="form-control" id="name" type="text" placeholder="Room Number *" name="room_id" required/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <!-- PWD input-->
                        <input class="form-control" id="name" type="text" placeholder="Room Password *" name="room_pwd" required/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <!-- Number of Players input-->
                        <input class="form-control" id="maxplayers" type="int" placeholder="Number of Players*" name="room_maxplayers" min="2" max="3" required/>
                    </div>
                </div>
            </div>

            <!-- Submit Button-->
            <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase" id="submitButton" type="submit">Create Room</button></div>
        </form>


    </div>
</section>
{% endblock %}
