{% extends 'layout.html' %}

{% block body %}
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Room {{ id }}</h2>
            <h3 class="section-subheading text-muted">Room Pwd: {{ pwd }} </h3>
        </div>

        <div class="text-center">
            <h3 class="section-subheading text-muted">Hi  {{ name }}, you are Player Number {{ player }}! </h3>
        </div>
        <div class="text-center">
            <form method="POST">
            {% set formtype = 'grid' %}
            {% include "includes/_grid.html" %}

            <br>
            <br>
            <br>
            <br>
            <br> 
            {% set formtype = 'hand' %}
            {% include "includes/_hand.html" %} 
            <br>
            <br>
            <br>
            <br>
            <br>
            <br> 

            <button type="submit" class="btn btn-primary btn-xl text-uppercase"> Play Move </button>
            </form>

            {% for id, dict in lastplayed.items(): %}
                Player {{ id }} <br>
                {% for key, val in dict.items(): %}
                    {{ key }} : {{ val }} <br>
                {% endfor %}
                <br>
                <br>
            {% endfor %}
            <br>
        </div>
    </div>
</section>
{% endblock %}